
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared Styles */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.navbar{
    display: flex;
    margin: 0 50px 0 100px;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.nav-ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.header{
    background-image: url('../images/developer.png'),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width:580px; ;
}
.banner-grittings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-pic{
    width: 580px;
}